
/* commons */

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}

.active {
    display: block !important;
}

.active-min {
    background-color: white !important;
    opacity: 1 !important;
    border: 3px solid white !important;
}

.active-dot {
    background-color: #a5a5a5 !important;
}

.d-block {
    display: block !important;
}

.dots {
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 5px auto;
    cursor: pointer;
}
/* slider */

.slider {
    width: 80%;
    height: 70%;
    display: flex;
}

/* slider content */

.sl-content {
    width: 79%;
    position: relative;
}

.sl-content .item-container, .sl-content .item {
    height: 100%;
}

.sl-content .item {
    display: none;
}

.sl-content .item img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-text {
    text-align: right;
    color: white;
    position: absolute;
    bottom: 25px;
    right: 20px;
    padding-left: 20px;
}

/* slider mignaturs */

.sl-min {
    width: 17%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prev, .next {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #ababab;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
}

.prev {
    top: 7px;
}

.next {
    bottom: 7px;
}

.sl-min i:nth-child(2) {
    display: none;
}

.mignatur {
    height: 19%;
    cursor: pointer;
    border-radius: 20px;
    display: none;
}

.mignatur img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    opacity: 0.7;
    background-color: black;
}

/* effetti hover */

.next:hover, .prev:hover {
    background-color: white;
}

.mignatur img:hover {
    opacity: 0.8;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 768px){

    .slider {
        height: 85%;
        flex-direction: column;
        justify-content: space-between;
    }

    .sl-content {
        width: 100%;
        height: 81%;
    }

    .sl-min {
        width: 100%;
        height: 14%;
        flex-direction: row;
    }

    .mignatur {
        width: 19%;
        height: 100%;
    }

    .next, .prev {
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
    }

    .prev {
        left: 7px;
    }

    .next {
        right: 7px;
        left: initial;
    }

    .sl-min i {
        line-height: 30px;
    }

    .sl-min i:first-child {
        display: none;
    }

    .sl-min i:nth-child(2) {
        display: block;
    }
}

/* debug */

.debug .slider {
    background-color: lightsalmon;
}

.debug .sl-content, .debug .sl-min {
    height: 100%;
    border: 1px solid black;
}

.debug .mignatur {
    border: 1px solid black;
}